.contactsRow {
    display: flex;
    flex-direction: row;
    width: 90vw;
    justify-content: space-between;
}

.contactsRow img {
    width: 20vw;
}

.AppCol {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .App-logo {
    height: 40vmin;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #09d3ac;
  }
  
  .AppRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90vw;
    margin: 0 2vw 0 2vw;
  }
  
  .AppInput {
    width: 70vw;
  }